nav {
  //max-width: 90%;
  //margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a img {
  width: 100px;
  border-radius: 50%;
}

ul {
  display: flex;
  gap: 24px;
  transition: .5s;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

label {
  display: none;
}

#burger-toggle {
  display: none;
}

.hidden-content {
  //visibility: hidden
  z-index: -999;
}

@media (width <= 640px) {

  nav {
    margin: 0;
  }

  label {
    position: relative;
    display: block;
    height: 20px;
    width: 30px;
  }

  label::after, label::before, label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(215,149,255,1) 50%, rgba(123,194,254,1) 100%);
    transition: .3s;
    border-radius: 3px;
  }

  label::before {
    content: "";
    top: 0;
  }

  label::after {
    content: "";
    bottom: 0;
  }

  label span {
    top: 50%;
    transform: translateY(-50%);
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 9px;
  }

  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 8px;
  }

  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 8px;
  }

  .header:has(#burger-toggle:checked) .header__top,
  .header:has(#burger-toggle:checked) .search {
    //z-index: -999
    visibility: hidden
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: #151515;
    padding-top: 100px;
    z-index: -1;
    flex-direction: column;
    text-align: center;

    left: -100vw;
    right: 100vw;

  }

  #burger-toggle:checked ~ ul {
    left: 0;
    right: 0;
  }

  li a {
    font-size: 24px;
  }
}